#div-contato{
    height: 87.3vh;
    display: flex;
    width: 60rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(194, 196, 196); */
    flex-direction: column;
    border-radius: 8px;
}

#div-contato h1{
    margin-bottom: 40px;
}

#div-contato ul{
    margin-top: 20px;
}

#div-contato li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 18px;

}

#div-contato li:hover{
    text-decoration: underline;
}

#logo-zap{
    width: 1.5rem;
}

#logo-email{
    width: 1.5rem;
}

#logo-insta{
    width: 1.5rem;
}

#logo-pin{
    width: 1.5rem;
}


.div-form{
    margin-top: 50px;
    background-color: rgb(179, 179, 179);
    border-radius: 8px;
    width: 300px;
    padding: 20px;

}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div-form h2{
    text-align: center;
}

.div-form input, textarea{
    border-radius: 8px;
    width: 260px;
    border: none;
}

.div-form textarea{
    height: 100px;
    resize: none;
}

.div-form button{
    width: 120px;
    border-radius: 8px;
    cursor: pointer;
}

.form{
    margin-top: 30px;
}