#div-empresa{
    height: 87.3vh;
    display: flex;
    width: 60rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(194, 196, 196); */
    flex-direction: column;
    border-radius: 8px;
}

#div-empresa h1{
    margin-bottom: 40px;
}

#div-empresa h3{
    margin-top: 30px;
}

#div-empresa p{
    width: 45rem;
    margin-top: 20px;
    text-align: center;
}
