#div-produtos{
    height: 87.3vh;
    display: flex;
    width: 60rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 196, 196);
    flex-direction: column;
    border-radius: 8px;
}

#div-produtos h1{
    margin-bottom: 40px;
}

#div-produtos p{
    width: 45rem;
}

#div-produtos ul{
    margin-top: 50px;
    justify-content: left;
}

#div-produtos li{
    margin-top: 12px;
}

#div-produtos li:hover{
    text-decoration: underline;
    text-decoration-color: rgb(217, 243, 243);
}